@page {
    size: A4;
    margin: 10px 5px;
}

* {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.not-printed {
    display: none;
    visibility: none;
}

.page-title {
    display: block;
    visibility: visible;
    margin-top: 20px;
}

.report-info {
    font-weight: bolder;
}